.products-area {
  display: grid;
  grid-template-columns: 4fr minmax(264px, 1fr);
}

.products-container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-right: 45px;
  gap: 45px;
  margin-left: 7%;
}

.cart-container h3 {
  color: #000;
}